* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors  */

:root {
  --bg: hsla(210, 46%, 95%, 1);
  --white: rgba(246, 246, 246, 0.95);
  --grey-100: hsla(217, 19%, 35%, 1);
  --grey-75: hsla(214, 17%, 51%, 1);
  --grey-50: hsla(212, 23%, 69%, 1);
  --warm-gray: hsla(0, 0%, 59%, 1);
  --green: hsl(161, 45%, 32%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Manrope', sans-serif;
  background-color: var(--bg);
}

h1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--grey-100);
}

h2 {
  font-weight: 500;
  font-size: 0.82rem;
  line-height: 1.25rem;
  letter-spacing: 0.13px;
  color: var(--grey-75);
}

h3 {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.1;
  letter-spacing: 0.12px;
  color: var(--grey-100);
}

span {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.12px;
  color: var(--grey-50);
}

h1,
h2 {
  padding-bottom: 1.35rem;
}

.container {
  max-width: 45.625rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0px 40px 40px -10px rgba(183, 199, 216, 0.3);
  background-color: white;
  transition: ease-out 0.8s;
}

.container:hover {
  box-shadow: 0px 40px 40px -10px rgba(171, 194, 220, 0.5);
  transition: ease-out 0.5s;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

.article__picture {
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.article__picture img {
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px 0 0 10px;
  transform: scale(1.1);
  filter: grayscale(0.3);
  transition: ease-out 0.3s;
}

.article__picture img:hover {
  transform: scale(1.1) translatex(5px);
  filter: grayscale(0) saturate(1.2);
  transition: ease-out 0.3s;
}

.article__summary {
  padding: 2.375rem;
}

h1 {
  transition: ease-in-out 0.3s;
}

h1:hover {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: var(--green);
}

.article__author {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: ease-out 0.3s;
}

.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-out 0.3s;
}

.article__info div:first-child {
  transition: ease-out 0.3s;
}

.article__info div:first-child:hover {
  transform: translatex(4px);
  filter: grayscale(0);
  filter: saturate(1.3);
  transition: ease-out 0.3s;
}

.article__info:hover~.h3 {
  color: var(--green);
}

.article__info div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1rem;
}

.article__info h3:hover {
  color: var(--green);
  cursor: pointer;
  transition: ease-out 0.3s;
}

.icon__share {
  opacity: 70%;
  transition: ease-out 0.3s;
}

.icon__share:hover {
  opacity: 100%;
  transition: ease-out 0.3s;
  transform: translatex(-4px) rotate(15deg);
  filter: saturate(2);
}

@media (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .article__picture {
    border-radius: 10px 10px 0 0;
  }

  h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
  }

  h3 {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 0.0075rem;
  }

  .article__summary {
    padding: 36px 32px 20px 32px;
  }
}

@media (max-width: 280px) {

  .article__picture img {
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .article__summary {
    padding: 20px;
  }

  h1 {
    font-size: 0.8rem;
    line-height: 1.1;
    text-align: center;
  }

  h2 {
    display: none;
  }

  h3,
  span {
    font-size: 0.7rem;
    line-height: 1;
  }

  h3 {}

  .article__info {
    flex-direction: column;
  }

  .article__author {
    width: 36px;
    height: 36px;
  }

  .icon__share {
    padding-top: 20px;
  }
}

@media (max-width: 220px) {

  .article__info div:first-child {
    flex-direction: column;
    text-align: center;
  }
}